# development | preview | production
EXPO_PUBLIC_APP_ENV=development

# Android Emulator:
# http://10.0.2.2:3000
#
# Physical Android/iOS device:
# use the LAN IP of your development machine.
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000

# Optional until realtime is implemented.
# Example:
# ws://10.0.2.2:3000
EXPO_PUBLIC_REALTIME_URL=